/* text css starts here */

html {
  font-size: 18px;
  font-family: helvetica;
}

#banner a {
  font-size: 1rem;
  color: white;
}

#banner span {
    padding: 0.75rem 0rem;
}

header span {
  color: white;
}

#new_arrivals p, #new_arrivals h1 {
  color: white;
  font-family: helvetica;
  font-weight: bold;
}

#new_arrivals p {
  font-size: 1rem;
  padding-left: 3rem;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

#new_arrivals h1 {
  font-size: 2rem;
  padding-left: 3rem;
}
/* text css ends here */

/* body css starts here */

body {
  width: 100%;
  height: auto;
  border: 0px;
  margin: 0px;
  padding: opx;
  background-color: black;
  flex-direction: column;
  display: flex;
}

.the_supply {
  display: flex;
  position: relative;
  top: 2.82rem;
  width: 100%;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
}
/* new arrivals starts here */

#new_arrivals {
  background-image: url("../../resources/images/moto.jpeg");
  width: auto;
  display: flex;
  flex-direction: row;
  height: 25rem;
  border: 0px;
  padding: 0px;
  margin: 0px;
}

/* new arrivals ends here */

/* shop starts here */

.shop {
  background-color: white;
  display: flex;
}

#shop_window {
  border: 4px solid black;
}

.window_item {
  border: 0.5rem 0rem;
}

.loc_and_hrs {
  border: 1rem 2rem;
  width: 35%;
}
/* shop ends here */

/* banner starts here */

#banner {
  background-color: firebrick;
}

/* banner ends here */


/* body css ends here */

/* header starts here */
header {
  display: flex;
  position: fixed;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
  background-color: black;
  width: 100%;
}

.logo {
  justify-content: flex-start;
  align-items: center;
}
/* header ends here */

/* <1024px starts here */

@media only screen and (max-width: 1024px) and (min-width: 471px) {

}

/* <1024px ends here */

/* <470px starts here */

@media only screen and (max-width: 470px;) {

}

/* <470px ends here */
