/* text css starts here */

html {
  font-size: 18px;
  font-family: helvetica;
}

.loc_and_hrs {
  color: white;
  padding: 1rem 0rem 1rem 2rem;
  background-color: black;
}

.co-ordinates, .hours {
  color: black;
}

#banner a {
  font-size: 1rem;
  color: white;
}

#banner span {
    padding: 0.75rem 0rem;
}

header span {
  color: white;
}

.new_arrivals p, .new_arrivals h1 {
  color: white;
  font-family: helvetica;
  font-weight: bold;
}

.new_arrivals p {
  font-size: 1rem;
  padding-left: 3rem;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

.new_arrivals h1 {
  font-size: 2rem;
  padding-left: 3rem;
}

.shop_window span {
  text-align: center;
  background-color: black;
  color: white;
  padding: 0.5rem 0rem;
}

footer span {
  color: white;
}
/* text css ends here */

/* body css starts here */

body {
  width: auto;
  height: auto;
  border: 0px;
  margin: 0px;
  padding: 0px;
  flex-direction: column;
  display: flex;
}

.the_supply {
  display: flex;
  position: relative;
  top: 2.82rem;
  width: 100%;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 960px;
}
/* new arrivals starts here */

.new_arrivals {
  background-image: url("../../resources/images/moto.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  border: 0px;
  padding: 0px;
  margin: 0px;
  height: 25rem;
}

.promotion {
  width: 20rem;
  height: auto;
  margin: 0px;
  border-top: 9rem;
  background-color: black;
}
/* new arrivals ends here */

/* the_window starts here */

.the_window {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0rem 4rem 0rem;
}

/* the_window starts here */


/* shop starts here */

.shop {
  background-color: white;
  display: flex;
}

.shop_window {
  border: 4px solid black;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shop_window img {
  margin: 2rem 0rem;
}

.window_item {
  border: 0.5rem 0rem;
}

.loc_and_hrs {
  border: 1rem 2rem;
}

/* shop ends here */

/* banner starts here */

#banner {
  background-color: firebrick;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
}

/* banner ends here */


/* body css ends here */

/* header starts here */
header {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: black;
  width: 100%;
  height: 2.32rem;
}

.logo {
  justify-content: flex-start;
  align-items: center;
}

.site_container {
  width: 960px;
  display: flex;
  flex-direction: row;
}
/* header ends here */

/* footer starts here */]

footer {
  background-color: black;
}

/* footer ends here */

/* <1024px starts here */

@media only screen and (max-width: 1024px) and (min-width: 471px) {

}

/* <1024px ends here */

/* <470px starts here */

@media only screen and (max-width: 470px;) {

}

/* <470px ends here */
